<footer id="layout-footer">
    

    <div>
        <nav class="footer-nav">
            <div class="row">
                <div class="col-md-4">
                    <h1>todo</h1>
                </div>
                <div class="col-md-6">
                    <h2>reach us</h2>
                    <ul class="symbols">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                    <ul class="mazak">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/users/profile">Profile</a>
                        </li>
                        <li>
                            <a href="/">about us</a>
                        </li>
                        
                    </ul>
                    
                  
                </div>
            </div>
           
        </nav>
    </div>
</footer>