<!-- 
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section> -->
<div id="back">
    <img id="first" src="/images/asdf.jpg" alt=""/> 
    <h1 id="heading">WELCOME TO THE HUB <br>OF STARTUPS</h1>
    <h1 id="quote">“Timing, perseverance, and ten years<br>of trying eventually make you<br>looklike an overnight success.”<br><b><t>― Biz Stone</t></b></h1>
</div>

<!-- <h1>
    Codeial / <%= title %>
</h1> --> 
<!--        
<div class="def">
    <h1 class="first">WHY STARTUPS?</h1>
    <div class="container">
            <img id="defim" src="/images/ian-schneider-TamMbr4okv4-unsplash.jpg" alt="">
            <h2>Some people are destined to be entrepreneurs. From the time they get
        through school, or maybe even before that, they’re hungry to start a
        business and lead it to success, and they’ll stop at nothing to make that
        dream a reality. Having a startup helps you have flexible work hours and a
        lot of time for yourself. You can set your own rules and deadlines and also
        pursue your own passion. You are not working under anyone but are the
        one to generate employment for others. There is nothing stopping you from
        following your dreams. Way to go!!!</h2>
    </div>
</div>
<section class="why">
    <h1 class="first">WHY WE NEED A MENTOR?</h1>
    <div class="container">
        <h2>“Mentoring is a brain to pick, an ear to listen, and a push in the right direction.” Mentoring ensures that knowledge, experience, and hard-won insight transfers from one person to another through personal interaction over time. While your own great ideas are essential to your new business, with an experienced mentor at your side, you will have one of the most powerful assets any new businessperson can ever have: someone invested in you and your success. We wish you good luck for your ventures.</h2>
        <img id="whyim" src="/images/neonbrand-y_6rqStQBYQ-unsplash.jpg" alt="">
    </div>
</section>-->
