<!--<h1>Sign Up For Aspirant</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required><br>
    <input type="email" name="email" placeholder="Your Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required><br>
    <input type="submit" value="Sign Up">

</form>-->
<div class="big">
    <div class="small">
        <img src="/images/unnamed.jpg"  alt=" dkcdctcdtcktdktgctctck"/>
    </div>
<div class="container">
    <h1>Sign Up For Aspirant</h1>

    <form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required><br>
    <input type="email" name="email" placeholder="Your Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required><br>
    <input type="submit" value="Sign Up">

    </form>
</div>
</div>