<!--<h1 class="sign">Sign In</h1>

<div id="form">

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Enter yourEmail"  required="" class="text">
    <br>
    <br>
    <input type="password" name="password" placeholder="Enter your Password"  required="" class="text">
    <br>
    <br>
    <input type="submit" value="Sign In" class="button">
</div>
</form>-->
<div class="big">
    <div class="small">
        <img src="/images/unnamed.jpg"  alt=" dkcdctcdtcktdktgctctck"/>
    </div>
<div class="container">
<h1 class="sign">Sign In</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Enter yourEmail"  required="" class="text">
    <br>
    <br>
    <input type="password" name="password" placeholder="Enter your Password"  required="" class="text">
    <br>
    <br>
    <input type="submit" value="Sign In" class="button">
</form>
</div>
</div>